<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.adolf.adolf">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".cropper.AdolfCropper2Activity"></activity>
        <activity android:name=".cropper.AdolfCropperActivity" />
        <activity android:name=".db.DbOpenTestActivity" />
        <activity android:name=".cache.CacheActivity" />
        <activity android:name=".mediaPlay.MediaActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".widget.WidgetActivity" />

        <receiver android:name=".widget.DaysWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/days_widget_info" />
        </receiver>

        <activity android:name=".widget.DaysWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="cn.adolf.widget.action.FORCE_UPDATE" />
            </intent-filter>
        </activity>
        <activity android:name=".file.FileActivity" />
        <activity android:name=".pathAnim.PathAnimActivity" />
        <activity android:name=".wsp2.ProgressActivity" />
        <activity android:name=".intent.StartIntentActivity" />

        <provider
            android:name=".db.AdolfDbProvider"
            android:authorities="cn.adolf.db.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".db.DbMainActivity" />
        <activity android:name=".wsp2.VisibleListenerActivity" />
        <activity
            android:name=".animRv.RvAdvanceActivity"
            android:label="Adolf中自身应用的">
            <intent-filter>
                <action android:name="666" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>